@font-face {
  font-family: 'AwesomeSerif-Regular';
  src: url('../fonts/AwesomeSerif-Regular.eot');
  src: url('../fonts/AwesomeSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AwesomeSerif-Regular.woff2') format('woff2'),
    url('../fonts/AwesomeSerif-Regular.woff') format('woff'),
    url('../fonts/AwesomeSerif-Regular.ttf') format('truetype'),
    url('../fonts/AwesomeSerif-Regular.svg#AwesomeSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AwesomeSerif-MediumExtraTall';
  src: url('../fonts/AwesomeSerif-MediumExtraTall.eot');
  src: url('../fonts/AwesomeSerif-MediumExtraTall.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AwesomeSerif-MediumExtraTall.woff2') format('woff2'),
    url('../fonts/AwesomeSerif-MediumExtraTall.woff') format('woff'),
    url('../fonts/AwesomeSerif-MediumExtraTall.ttf') format('truetype'),
    url('../fonts/AwesomeSerif-MediumExtraTall.svg#AwesomeSerif-MediumExtraTall') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AwesomeSerifItalicVAR-Light';
  src: url('../fonts/AwesomeSerifItalicVAR-Light.eot');
  src: url('../fonts/AwesomeSerifItalicVAR-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AwesomeSerifItalicVAR-Light.woff2') format('woff2'),
    url('../fonts/AwesomeSerifItalicVAR-Light.woff') format('woff'),
    url('../fonts/AwesomeSerifItalicVAR-Light.ttf') format('truetype'),
    url('../fonts/AwesomeSerifItalicVAR-Light.svg#AwesomeSerifItalicVAR-Light') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AwesomeSerifItalic-MdExraTall';
  src: url('../fonts/AwesomeSerifItalic-MdExraTall.eot');
  src: url('../fonts/AwesomeSerifItalic-MdExraTall.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AwesomeSerifItalic-MdExraTall.woff2') format('woff2'),
    url('../fonts/AwesomeSerifItalic-MdExraTall.woff') format('woff'),
    url('../fonts/AwesomeSerifItalic-MdExraTall.ttf') format('truetype'),
    url('../fonts/AwesomeSerifItalic-MdExraTall.svg#AwesomeSerifItalic-MdExraTall') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AwesomeSerifItalic-Regular';
  src: url('../fonts/AwesomeSerifItalic-Regular.eot');
  src: url('../fonts/AwesomeSerifItalic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AwesomeSerifItalic-Regular.woff2') format('woff2'),
    url('../fonts/AwesomeSerifItalic-Regular.woff') format('woff'),
    url('../fonts/AwesomeSerifItalic-Regular.ttf') format('truetype'),
    url('../fonts/AwesomeSerifItalic-Regular.svg#AwesomeSerifItalic-Regular') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #b1b1b1 #f9f9f9;
}

*::-webkit-scrollbar {
  width: 9px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f9f9f9;
}

*::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 20px;
  border: 1px solid #f9f9f9;
}


input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*:focus,
*:focus-within {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--fontReg);
  margin-bottom: 20px;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 16px;
}

p:last-of-type{
  margin-bottom: 0;
}
a{
  color: inherit;
}
a:not(.link){
  text-decoration: none;
}
button.noStyle{
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.container-fluid{
  max-width: 1900px;
  padding: 0 30px;
}
.commonSection {
  padding: 50px 0;
}

.mdExI {
  font-family: var(--mdExI);
}
.fontReg {
  font-family: var(--fontReg);
}
.fontRegI {
  font-family: var(--fontRegI);
}
.mdEx {
  font-family: var(--mdEx);
}
.lightI {
  font-family: var(--lightI);
}

button, a{
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  transition: ease 0.3s;
}

.btn {
  padding: 15px 30px;
  border-radius: 15px;
}
.btn-sm {
  padding: 10px 20px;
  border-radius: 10px;
}
.btn.btn-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--color-dark);
}
.btn.btn-primary:hover, .btn.btn-secondary {
  background: var(--color-dark);
  border-color: var(--color-dark);
  color: var(--color-light);
}
.btn.btn-secondary:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--color-dark);
}
.btn.btn-shadow{
  box-shadow: rgba(0,0,0,0.1) 5px 5px 4px;
}
.btn.btn-shadow:hover{
  box-shadow: rgba(0,0,0,0.1) 0px 0px 0px;
}