@media screen and (min-width: 1199px) {
    .truly_toggle {
        display: none;
    }
}

@media screen and (max-width: 1499px) {
    .product_detail_images .swiper-wrapper {
        height: 80vh !important;
        max-height: 540px;
        min-height: 45vw;
    }
}

@media screen and (max-width: 1399px) {
    .truly_navbar ul li a {
        font-size: 14px;
    }

    ul.product_search_list li {
        max-width: 33.333%;
    }
}

@media screen and (max-width: 1299px) {
    .truly_navbar ul li {
        padding: 0 8px;
    }

    .how_to_use_block .container-xl {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1199px) {
    .truly_navbar {
        display: none;
    }

    .truly_toggle {
        width: 110px;
        display: flex;
        align-items: center;
    }

    .truly_toggle img {
        display: block;
    }

    .truly_toggle>span {
        display: flex;
        align-items: center;
    }

    .truly_toggle a>span {
        background: #000;
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
    }

    .truly_toggle span+span {
        margin-top: 4px;
    }

    .truly_navbar ul {
        max-width: 300px;
        width: 100%;
        flex-direction: column;
        position: absolute;
        inset: 0;
        background: #fff;
        padding: 20px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    .truly_navbar ul li a {
        font-size: 16px;
        padding: 10px 30px;
        border-bottom: #eee 1px solid;
    }

    .truly_navbar ul li {
        padding: 0;
    }

    #mobile-menu-aside aside {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    #mobile-menu-aside aside>main {
        margin: 0;
    }

    ul.header_mobile_menu ul {
        list-style: none;
        padding: 0 15px;
        display: none;
    }

    ul.header_mobile_menu .header-menu-item {
        padding: 12px 0;
        width: 100%;
        display: block;
    }

    ul.header_mobile_menu>li {
        border-bottom: #eee 1px solid;
    }

    .mobile_header_menu {
        padding: 0 30px;
        max-height: calc(100vh - 30px);
        overflow: hidden;
        overflow-y: auto;
    }

    li.has-dropdown {
        position: relative;
    }

    .dropdown-caret {
        width: 40px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease 0.3s;
    }

    .dropdown-caret svg {
        height: 12px;
    }

    ul.header_mobile_menu .active ul {
        display: block;
    }

    li.has-dropdown.active .dropdown-caret {
        transform: rotate(90deg);
    }

    .truly_header {
        padding: 10px 0;
    }

    .newsletter_form {
        flex-direction: column;
    }

    .footer-menu a {
        margin-bottom: 6px;
    }

    .truly_header_links {
        width: 110px;
        text-align: end;
        justify-content: flex-end;
    }

    .product_detail_images .swiper-wrapper {
        max-height: 450px;
        min-height: 35vw;
    }
}


@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 14px;
    }

    .headingholder h2 {
        font-size: 40px;
    }

    .InStyle__Box h3 {
        font-size: 40px;
    }

    .rotationalbar,
    .commonSection {
        padding: 30px 0;
    }

    .InStyle__Box {
        max-width: 700px;
        margin: auto;
    }

    .stamped-fa-star:before,
    span.stamped-badge-caption {
        font-size: 14px;
    }

    .text_over_image .bg_image_text {
        padding: 30px;
    }

    .product-main h1 {
        font-size: 30px;
    }

    .quickview_modal_body_outer {
        max-width: calc(100% - 30px);
    }

    ul.product_search_list li {
        max-width: 50%;
    }

    .product_detail_images .swiper-wrapper {
        max-height: 90vh;
        min-height: 75vw;
        height: 90vh !important;
    }
    .product_detail_single_image {
        max-width: 100%;
    }
    
    .product-main {
        margin-top: 15px;
    }

    .product_detail_images .product_detail_single_image {
        max-width: 100%;
    }

    .commonSection.product-page {
        padding-top: 0;
    }

    .product_detail_images_outer {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    .headingholder h2,
    .InStyle__Box h3 {
        font-size: 34px;
    }

    h6.productBox__title {
        font-size: 16px;
    }

    .container-fluid,
    .how_to_use_block .container-xl {
        padding: 0 12px;
    }

    .primary-bg-sm {
        background-color: var(--primary) !important;
    }

    .text_over_image .bg_image_text {
        padding: 30px 15px;
    }

    .bundle_whats_inside_outer {
        flex-direction: column-reverse;
        display: flex;
    }
    .product-form.isVisible {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        padding: 10px 25px;
        background: #fff;
        box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.1);
    }
    .product-form.isVisible .btn{
        animation: pulse 0.5s linear infinite alternate;
    }

}

@media screen and (max-width: 575px) {
    .InStyle__Box {
        padding: 0;
    }

    .mobile_header_menu {
        padding: 0 15px;
    }

    .InStyle__Box h3 {
        font-size: 6vw;
    }

    .headingholder h2 {
        font-size: 28px;
    }

    p {
        margin-bottom: 10px;
    }

    .headingholder p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    footer.footer {
        padding: 40px 0 20px;
    }

    .mainFooter-socialIcon {
        margin: 10px 0 20px;
    }

    footer.footer h5 {
        margin-bottom: 10px;
    }

    h6.productBox__title {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .truly_header_links>div img {
        max-width: 16px;
    }

    .product-main h1 {
        font-size: 28px;
    }

    .good_to_know ul li {
        padding: 6px 12px;
        font-size: 12px;
        margin: 0 3px 3px 0;
        border-radius: 8px;
    }

    .how_to_use_block .col-md-5.order-md-2.order-1 {
        padding: 0;
    }

    .subscribe_save_block {
        padding-top: 10px;
        border-radius: 10px;
        flex-direction: column;
    }

    .modal-body {
        padding: 15px;
    }

    .subscribe_save_text_block img {
        max-width: 17px;
        height: auto;
        vertical-align: sub;
    }

    ul.suggestions_list li {
        font-size: 14px;
    }

    ul.product_search_list li {
        flex-direction: column;
    }

    ul.product_search_list li a,
    .predictive-search-result-item a img {
        width: 100%;
    }

    ul.suggestions_list li {
        margin: 0 5px 5px 0;
    }

    .ingrediant_tab_header {
        padding: 10px 0;
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {
    .newsletter_form small {
        font-size: 3vw;
    }
}