.truly_header {
    background-color: var(--color-light);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}

.main_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.truly_navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.truly_navbar ul ul {
    position: absolute;
    display: block;
    background-color: #fff;
    width: 200px;
    border-radius: 0 0 10px 10px;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: ease 0.2s;
    padding-bottom: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 3px 5px;
}
.truly_navbar ul li:hover ul {
    opacity: 1;
    visibility: visible;
}
.truly_navbar ul li {
    position: relative;
    padding: 0 15px;
}

.truly_navbar ul li a {
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    position: relative;
    font-family: var(--primary-font-med);
}
.truly_navbar ul ul li a {
    padding: 3px 0;
    font-family: var(--primary-font);
}

.truly_navbar ul li a:after {
    content: "";
    background-color: var(--color-dark);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: ease 0.3s;
    width: 0;
    height: 2px;

}

.truly_navbar ul ul li a.active:after,
.truly_navbar ul ul li a:hover:after {
    /* width: 100%; */
}
.truly_navbar ul > li:hover > a {
    color: var(--primary2);
}

.truly_header_links {
    display: flex;
}

.truly_header_links>div {
    margin: 0 10px;
}

.navAccount.cart--icon {
    position: relative;
}

.navAccount.cart--icon .cartItemCounter {
    position: absolute;
    top: -5px;
    right: -12px;
    background: var(--color-dark);
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.rotationalbar {
    padding: 50px 0;
}

.InStyle__Box {
    text-align: center;
    padding: 0 35px;
}

.InStyle__Box h3 {
    font-family: var(--mdExI);
    font-weight: 400;
    line-height: normal;
    margin: 0;
    font-size: clamp(15px, 2.1vw, 40px);
    text-align: center;
}

.InStyle__Box h3 span {
    font-family: inherit;
    background-repeat: no-repeat;
    background-size: 25px;
    margin: 0;
    display: inline;
}

.InStyle__Box h3>span {
    background-image: url(https://www.trulybeauty.com/cdn/shop/files/q-left_1.png);
    background-position: left top;
}

.InStyle__Box h3>span>span {
    background-image: url(https://www.trulybeauty.com/cdn/shop/files/q-right_1.png);
    background-position: right bottom;
    padding: 0 38px 0 28px;
}

.InStyle__Box_logo {
    margin: 3.2vw auto 0;
}

.headingholder h1,
.headingholder h2 {
    font-family: var(--mdExI);
}

.headingholder h1 {
    font-size: 60px;
}

.headingholder h2 {
    font-size: 50px;
}

.headingholder p {
    font-size: 20px;
}

/* product style */
.productBox__content {
    text-align: center;
    padding-top: 10px;
    display: block;
}

.productBox__content h6 {
    margin-bottom: 10px;
    font-family: var(--primary-font);
    letter-spacing: 0;
    font-weight: 700;
}

.productBox__price {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.productBox__img {
    position: relative;
    overflow: hidden;
}

.productBox__img_back {
    opacity: 0;
    visibility: hidden;
}

.productBox__img div {
    transition: ease 0.3s;
}

.productBox__img_back img {
    position: absolute;
    z-index: 2;
    inset: 0;
}

.product_detail_single_image .product_slides {
    display: none;
}

.product_detail_single_image .product_slides.activeSlide {
    display: block;
}

.quick_view_product {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.productBox__img:hover .productBox__img_back,
.productBox__img:hover .quick_view_product {
    opacity: 1;
    visibility: visible;
}

/* quick view */
.quickview_modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quickview_modal_backdrop {
    position: fixed;
    inset: 0;
    background: var(--color-light);
    opacity: 0.8;
    cursor: pointer;
}

.quickview_modal_body {
    background: var(--color-light);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px;
    border-radius: 20px;
    width: 100%;
    max-width: 1100px;
    position: relative;
}

.del_price {
    color: #999;
}

.product_image_thumb .slick-slide {
    padding-bottom: 15px;
    margin-bottom: 1px;
}

.slick-slider:not(.slick-initialized) * {
    display: none;
}

.product_detail_images {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.product_detail_single_image {
    width: 100%;
    max-width: calc(100% - 100px);
}

.product_image_thumb {
    width: 100%;
    max-width: 80px;
}

body.modal_open {
    overflow: hidden;
}

.overlay:target~*,
body.modal_open header.truly_header,
body.modal_open main div:not(.quickview_modal, .quickview_modal *, aside *) {
    filter: blur(5px);
}

.quickview_modal .swiper-wrapper {
    height: 505px !important;
}

.custom_arrows * {
    pointer-events: none;
}

.custom_arrows, .swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0 50%;
    z-index: 9;
    transform: translateX(-50%);
    cursor: pointer;
    transition: ease 0.3s;
    background-repeat: no-repeat;
    background-position: center;
}
.swiper-button-prev, .swiper-button-next {
    inset: 50%;
    transform: rotate(-90deg) translateY(-50%);
    background-image: url("../images/arrow_left.svg");
}
.swiper-button-next {
    transform: rotate(90deg) translateY(-50%);
    right: 15px;
    left: auto;
}
.swiper-button-prev {
    left: 15px;
    right: auto;
}
.custom_arrows:hover, .swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: var(--primary2);
}

.custom_arrows.custom-next-arrow {
    top: auto;
    bottom: 0;
}


.custom_arrows.horizontal.custom-next-arrow {
    left: auto;
    right: -15px;
}

.product_image_thumb .swiper-slide {
    opacity: 0.5;
    transition: ease 0.2s;
}

.product_image_thumb .swiper-slide.swiper-slide-active {
    opacity: 1;
}

footer.footer {
    background-color: #f7f7f7;
    padding: 40px 0;
}

footer.footer {
    font-size: 14px;
}

footer.footer p,
footer.footer a {
    font-size: inherit;
}

.mainFooter-socialIcon {
    margin: 20px 0;
}

.mainFooter-socialIcon a {
    margin-right: 15px;
}

.mainFooter-socialIcon a svg {
    max-width: 1.3rem;
    max-height: 1.3rem;
}

.mainFooter-socialIcon a svg * {
    transition: ease 0.2s;
}

.mainFooter-socialIcon a:not(.icon_stroke) svg * {
    fill: var(--color-dark);
}

.mainFooter-socialIcon a.icon_stroke svg * {
    stroke: var(--color-dark);
}

.mainFooter-socialIcon a:hover:not(.icon_stroke) svg * {
    fill: var(--primary2);
}

.mainFooter-socialIcon a.icon_stroke:hover svg * {
    fill: var(--primary2);
    stroke: var(--primary2);
}

.footer-menu {
    display: block;
    padding: 0;
}

.footer-menu a {
    color: var(--color-dark);
    display: block;
    margin-bottom: 12px;
}

.footer-menu a:last-of-type {
    margin-bottom: 0;
}

.mainFooter_information {
    padding-right: 30px;
}

.newsletter_form {
    margin-top: 20px;
    display: flex;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.text_over_image {
    position: relative;
}

.bg_image_content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-zoom {
    overflow: hidden;
}

.img-zoom img {
    transition: ease 0.5s;
}

.img-zoom:hover img {
    transform: scale(1.05);
}

.collection_product_slider {
    position: relative;
}

.search_block {
    position: absolute;
    inset: 0;
    z-index: 999;
}

.header_aside {
    z-index: 999;
}

.predictive-search-results {
    padding: 10px 0 0;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 158px);
}

.header_aside {
    z-index: 999;
}

#search-aside.header_aside aside {
    inset: 0;
}

.predictive-search-results {
    padding: 10px 0 0;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 158px);
}

ul.suggestions_list,
ul.product_search_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.suggestions_list li {
    margin-right: 10px;
    border: var(--primary) 1px solid;
    padding: 5px;
    background: #fff;
    border-radius: 6px;
}

ul.suggestions_list li mark {
    background-color: var(--primary);
    padding: 1px;
}

ul.product_search_list li a {
    align-items: flex-start;
}

ul.product_search_list li {
    width: 100%;
    max-width: 20%;
    margin-bottom: 30px;
    padding-right: 10px;
}

.predictive-search {
    background-color: #fff;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    left: 0;
}

.cart-main {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
}

.cart-main>div:not(.cart-details, .empty_cart_alert) {
    background-color: #fff;
    opacity: 0.8;
    position: fixed;
    inset: 0;
}

.cart-details ul {
    padding: 0;
}

.cart_detail_outer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart_detail_inner {
    flex: 1 0 auto;
}

.cart-line-quantity {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart_quantity_outer {
    display: flex;
    border: #eee 1px solid;
    border-radius: 40px;
    padding: 0;
    align-items: center;
}

.cart-details {
    background: #fff;
    max-width: 450px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) -5px 0 10px;
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cart-details ul.selectedOptions {
    list-style: none;
}

.cart_quantity_outer form button {
    padding: 5px 15px;
    font-weight: 700;
}

.cart_quantity {
    width: 30px;
    text-align: center;
}

.cart_overlay {
    position: fixed;
    inset: 0;
    background-color: #fff;
    opacity: 0.7;
    cursor: pointer;
    z-index: 9;
}

.cart-summary-aside {
    border-top: 1px solid #eee;
    width: 100%;
    left: 0;
    position: relative;
}

div[aria-labelledby="cart-lines"] {
    overflow: hidden;
    overflow-y: auto;
    flex: 1 0 auto;
    max-height: calc(100% - 260px);
}

div#cart-aside aside header {
    display: none;
}

div#cart-aside aside main {
    margin: 0;
}

.product_detail_images .swiper-wrapper {
    height: 900px !important;
    max-height: 100vh;
}
.quickview_modal_body .product_detail_images .swiper-wrapper {
    height: 500px !important;
    max-height: 100vh;
}

.product_detail_images .product_image_thumb {
    max-width: 16%;
}

.product_detail_images .product_detail_single_image {
    max-width: 80%;
}

.product-options-item {
    border-radius: 0;
    padding: 8px 15px;
    font-size: 14px;
}

.product-options-item.active {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.product_description .hide {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: ease 0.5s;
}

.product_description.full .hide {
    opacity: 1;
    height: auto;
    overflow: auto;
    visibility: visible;
}

.lg-backdrop {
    background-color: #fff;
}

.lg-backdrop.in {
    opacity: .8;
}

.lg-components {
    display: none;
}

.lg-toolbar .lg-icon,
.lg-icon {
    background: var(--color-dark);
    border-radius: 50%;
    margin: 5px;
    color: var(--color-light);
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 20px;
}

.lg-counter {
    color: var(--color-dark);
    font-weight: 600;
}

.lg-outer .lg-item:not(.lg-start-end-progress) {
    background: url("../images/loading-spinner.svg") no-repeat scroll center center transparent;
    background-size: 40px;
}

.collection-item img {
    object-fit: cover;
    object-position: center;
}


/* Account */
.login-page-inner {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.account_orders {
    padding: 15px;
    border: #eee 1px solid;
    height: 100%;
}

.order_line_items {
    display: flex;
}

.order_line_items+.order_line_items {
    margin-top: 10px;
    padding-top: 10px;
    border-top: #eee 1px solid;
}

.order_detail_header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 15px;
}

.good_to_know ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
}

.good_to_know ul li {
    display: inline-block;
    padding: 8px 15px;
    border: var(--primary) 1px solid;
    font-size: 14px;
    font-weight: 600;
    margin: 0 8px 8px 0;
    border-radius: 10px;
    color: var(--primary2);
}

.good_to_know ul li img {
    max-height: 20px;
    margin-right: 10px;
}

.good_to_know ul li img {
    max-height: 20px;
    margin-right: 10px;
}

.bundle_whats_inside {
    border: var(--primary) 1px solid;
    padding: 15px;
    background: #fcfcfc;
    margin-bottom: 15px;
}

.bundle_whats_inside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bundle_whats_inside ul li {
    margin-top: 5px;
}

.product-main ul li {
    margin-bottom: 10px;
}

.ingrediant_tab_header {
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    border-bottom: var(--primary) 1px solid;
}

.ingrediant_tab_header:after {
    position: absolute;
    right: 0;
}

.ingrediant_tab_header span {
    position: absolute;
    right: 3px;
    top: 10px;
    transform: rotate(90deg);
    transition: 0.3s ease;
}

.ingrediant_tab_panel.active .ingrediant_tab_header span {
    transform: rotate(-90deg);
}

.ingrediant_tab_header span svg {
    width: 8px;
}

.ingrediant_tab_body {
    transition: 0.5s ease;
    padding: 15px 0 0;
}

.ingrediant_tab_panel {
    overflow: hidden;
}

.product-main h1 {
    font-size: 40px;
}

button.playpauseBtn {
    background-color: var(--primary2);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 0;
    z-index: 8;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button.playpauseBtn:before,
button.playpauseBtn:after {
    content: "";
    background-color: #f01f75;
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: -1;
    opacity: .3;
    border-radius: 50%;
    box-shadow: 0 0 8px #2f2429;
    transition: inherit;
}

button.playpauseBtn:after {
    opacity: .6;
    width: 78px;
    height: 78px;
    box-shadow: 0 0;
}

.playpauseBtn img {
    max-width: 100px;
    width: 50px;
    opacity: .7;
}

button.playpauseBtn img {
    width: 20px !important;
}

.how_to_use_video {
    position: relative;
}

.playpauseBtn.pause {
    opacity: 0;
}

.how_to_use_video:hover .playpauseBtn.pause {
    opacity: 1;
}

.custom_arrows.arrows_horizontal {
    position: relative;
    transform: rotate(-90deg);
    inset: 0;
}

.short-info {
    font-size: 12px;
    color: var(--primary2);
    padding: 5px 10px 0;
}

.subscribe_save_block {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 5px 10px;
    border-radius: 26px;
    align-items: center;
}

.subscribe_save_select select {
    border: 0;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    padding: 5px;
    padding-right: 25px;
    cursor: pointer;
}

.subscribe_save_select {
    position: relative;
}

.subscribe_save_select:after {
    content: "";
    border-top: #000 5px solid;
    border-right: transparent 5px solid;
    border-left: transparent 5px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.whySubscribe {
    margin-top: 10px;
}

.whySubscribe button {
    color: var(--primary2);
    font-size: 14px;
}

label.custom_radio {
    cursor: pointer;
}

label.custom_radio input[type=radio] {
    display: none;
}

.product_purchase_options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--primary) 1px solid;
    padding: 10px;
    position: relative;
}

label.custom_radio input[type=radio] + span:after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary);
    z-index: -5;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    width: 0;
    opacity: 0.4;
    transition: ease 0.3s;
}
label.custom_radio input[type=radio]:checked + span:after {
    width: 100%;
}

label.custom_radio input[type=radio]+span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: var(--primary) 1px solid;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

label.custom_radio input[type=radio]:checked+span {
    box-shadow: inset #000 0 0 0 7px;
}

.product_qty_block button {
    border: 0;
    background: #fff;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 20px;
}

.product_qty_block input {
    width: 50px;
    text-align: center;
    border: 0;
    background: #fff;
}

.product_qty_block {
    display: flex;
}
.img-shadow {
    box-shadow: rgba(0,0,0,0.2) 0 0 20px;
}
/* .what_it_target_slider .swiper-button-prev, .what_it_target_slider .swiper-button-next{
    position: relative;
    display: inline-flex;
    margin: 15px 0 0 15px;
} */